@use '@carbon/styles/scss/spacing' as *;
@use '@carbon/styles/scss/type' as *;
@use '@carbon/styles/scss/colors' as *;
@use '@carbon/styles/scss/theme' as *;
@use '@carbon/styles/scss/breakpoint' as *;

.theme-selector {
  position: relative;
  background: linear-gradient(to right, #0b4ac1, #0f62fe);
  border-radius: 16px;
  padding: $spacing-05;
  width: 100%;
  margin-bottom: 56px;

  @include breakpoint-down(md) {
    padding: $spacing-05 $spacing-04;
  }
}

.theme-selector__content {
  display: flex;
  justify-content: space-evenly;
  gap: 64px;

  @include breakpoint-down(md) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.theme-selector__info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include breakpoint-down(md) {
    width: 100%;
    padding: $spacing-04 0;
  }
}

.theme-selector__description {
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0%;
  color: white;
  margin-bottom: $spacing-06;

  @include breakpoint-down(md) {
    max-width: 100%;
  }
}

.theme-selector__brand {
  @include type-style('heading-03');
  color: white;
  font-weight: 600;
}

.theme-selector__illustration {
  position: absolute;
  top: 66px;
  left: 150px;
  img {
    max-width: auto;
    height: auto;
  }

  @include breakpoint-down(lg) {
    display: none;
  }
}

.theme-selector__options {
  background-color: white;
  border-radius: 12px;
  padding: $spacing-06;
  display: flex;
  flex-direction: column;
  width: 40%;

  @include breakpoint-down(md) {
    width: 100%;
  }
}

.theme-selector__prompt {
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  color: $gray-100;
  margin-bottom: $spacing-05;
}

.theme-selector__themes {
  display: flex;
  gap: $spacing-04;
  margin-bottom: $spacing-06;
}

.theme-selector__theme-option {
  width: 72px;
  height: 60px;
  border: 2px solid transparent;
  padding: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
  background: white;

  &.selected {
    border-color: #4589ff;
  }

  &:hover {
    transform: translateY(-2px);
  }
}

.theme-selector__theme-color {
  width: 100%;
  height: 100%;
  // border-radius: 4px;
}

.theme-selector__activate-btn {
  background-color: #0f62fe;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $spacing-03;

  &:hover {
    background-color: darken(#0f62fe, 10%);
  }

  .rotate-180 {
    transform: rotate(180deg);
  }
}
