PORT=3333
NEXT_PUBLIC_D3_BACKEND=
NEXT_PUBLIC_WEB_NAME=
NEXT_PUBLIC_ADMIN_NAME=
NEXT_PUBLIC_DEBUG_MODE=
NEXT_PUBLIC_GRAPH_URL=
# Jwt
JWT_SECRET_KEY=your-secret-key
JWT_EXPIRATION_TIME=900
JWT_EXPIRATION_LONG_TIME=180000

#OTP
OTP_SECRET=your-secret-key
OTP_DURATION_IN_SECS=300
NEXT_PUBLIC_OTP_DURATION_IN_MINS=3
MAGIC_LINK_EXPIRATION_TIME_IN_HRS=24
OTP_LENGTH=6
NEXT_PUBLIC_ADMIN_BASE_PATH=/admin
ENCODED_OTP_SECRET=
NEXT_PUBLIC_DEFAULT_CHAIN_ID=84531

# Postgres envioroment variables

# Nest run in docker, change host to database container name
# DB_HOST=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=
DB_NAME=
NEWSLETTER_DB_NAME=

DB_SSL=true
DB_SSL_CA=certs/rootCA.crt
DB_SSL_CERT=certs/client.crt
DB_SSL_KEY=certs/client.key

# Prisma database connection
APP_DATABASE_URL=postgresql://${DB_USERNAME}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?schema=public&sslmode=verify-ca&sslrootcert=${DB_SSL_CA}&sslcert=${DB_SSL_CERT}&sslkey=${DB_SSL_KEY}
NEWSLETTER_DATABASE_URL=postgresql://${DB_USERNAME}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${NEWSLETTER_DB_NAME}?schema=public&sslmode=verify-ca&sslrootcert=${DB_SSL_CA}&sslcert=${DB_SSL_CERT}&sslkey=${DB_SSL_KEY}

# REDIS envioroment variables
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=


#Mailing Service
SERVICE_PROVIDER="Gmail"
EMAIL_ADDRESS=
REPLY_TO_EMAIL_ADDRESS=giga@unicef.org

# Rabbit MQ
RABBIT_MQ_HOST=
RABBIT_MQ_PORT=
RABBIT_MQ_USER=
RABBIT_MQ_PASSWORD=
RABBIT_MQ_VHOST=


#Network Provider
NETWORK_PROVIDER=
NEXT_PUBLIC_GIGA_NFT_CONTRACT_ADDRESS=
NEXT_PUBLIC_GIGA_NFT_CONTENT_ADDRESS=
NEXT_PUBLIC_GIGA_SCHOOL_ESCROW_ADDRESS=
NEXT_PUBLIC_GIGA_COLLECTOR_ESCROW_ADDRESS=
GIGA_NFT_CONTENT_ADDRESS=
GIGA_IMAGE_CONTENT_ADDRESS=
NEXT_PUBLIC_GIGA_SCHOOL_NFT_ADDRESS=
NEXT_PUBLIC_GIGA_SELLER_ADDRESS=
NEXT_PUBLIC_GIGA_COLLECTOR_NFT_ADDRESS=
PRIVATE_KEY= 
BATCH_SIZE= 
NEXT_PUBLIC_DEFAULT_CHAIN=

CORS_ORIGIN='http://localhost:3000', 'https://your-production-domain.com'
NEXT_PUBLIC_DEFAULT_CHAIN_ID=

##IPFS
IPFS_API_KEY=
IPFS_API_SECRET=

## GasFee
NEXT_PUBLIC_GAS_API=
NEXT_PUBLIC_GAS_API_KEY=

##Giga Maps
UNI_OOI_GIGA= https://uni-ooi-giga-backend-hjekcuagasashucv.a03.azurefd.net/api/locations/gsearch
NEXT_PUBLIC_GIGA_MAPS_API= https://maps.giga.global/map

NEXT_PUBLIC_MAPBOX_TOKEN=