PORT=3333
NEXT_PUBLIC_D3_BACKEND=
NEXT_PUBLIC_ENVIRONMENT= developmemt
NEXT_PUBLIC_WEB_NAME=
NEXT_PUBLIC_ADMIN_NAME=
NEXT_PUBLIC_DEBUG_MODE=
NEXT_PUBLIC_GRAPH_URL=

NEXT_PUBLIC_ADMIN_ADDRESS=

# Jwt
JWT_SECRET_KEY=your-secret-key
JWT_EXPIRATION_TIME=900
JWT_EXPIRATION_LONG_TIME=180000

#OTP
OTP_SECRET=your-secret-key
OTP_DURATION_IN_SECS=300
NEXT_PUBLIC_OTP_DURATION_IN_MINS=3
MAGIC_LINK_EXPIRATION_TIME_IN_HRS=24
OTP_LENGTH = 6
NEXT_PUBLIC_ADMIN_BASE_PATH=/admin
ENCODED_OTP_SECRET=


# Postgres envioroment variables

# Nest run in docker, change host to database container name
# DB_HOST=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=
DB_NAME=
NEWSLETTER_DB_NAME=

# Prisma database connection
APP_DATABASE_URL=postgresql://${DB_USERNAME}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?schema=public
NEWSLETTER_DATABASE_URL=postgresql://${DB_USERNAME}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${NEWSLETTER_DB_NAME}?schema=public

# REDIS envioroment variables
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=


#Mailing Service
SERVICE_PROVIDER="Gmail"
EMAIL_ADDRESS=
EMAIL_USER=
EMAIL_PASSWORD=

REPLY_TO_EMAIL_ADDRESS=
DEBUG_EMAIL_ADDRESS=

## RabbitMQ
RABBIT_MQ_HOST=""
RABBIT_MQ_PORT=""
RABBIT_MQ_USER=""
RABBIT_MQ_PASSWORD=""

RABBIT_MQ_URL=amqp://${RABBIT_MQ_USER}:${RABBIT_MQ_PASSWORD}@${RABBIT_MQ_HOST}:${RABBIT_MQ_PORT}



#Network Provider

NEXT_PUBLIC_GIGA_NFT_CONTRACT_ADDRESS=
NEXT_PUBLIC_GIGA_NFT_CONTENT_ADDRESS=
NEXT_PUBLIC_GIGA_SCHOOL_ESCROW_ADDRESS=
NEXT_PUBLIC_GIGA_COLLECTOR_ESCROW_ADDRESS=
GIGA_NFT_CONTENT_ADDRESS=
GIGA_IMAGE_CONTENT_ADDRESS=
NEXT_PUBLIC_GIGA_SCHOOL_NFT_ADDRESS=
NEXT_PUBLIC_GIGA_SELLER_ADDRESS=
NEXT_PUBLIC_GIGA_COLLECTOR_NFT_ADDRESS=
GIGA_QOS_CONTRACT_ADDRESS=


PRIVATE_KEY= 
BATCH_SIZE= 
NEXT_PUBLIC_DEFAULT_CHAIN=
NEXT_PUBLIC_DEFAULT_CHAIN_ID=
NEXT_PUBLIC_NETWORK_PROVIDER=
NETWORK_PROVIDER=

IPFS_API_KEY=
IPFS_API_SECRET=

NEXT_PUBLIC_GAS_API=
NEXT_PUBLIC_GAS_API_KEY=
IMAGE_BATCH_SIZE=300



CORS_ORIGIN='http://localhost:3000', 'https://your-production-domain.com'


# Webhook Config
WEBHOOK_PORT = 3010
ALCHEMY_SIGNING_KEY = 

#Arewave 

ARWEAVE_HOST=
ARWEAVE_PORT=
ARWEAVE_PROTOCOL=

AREWAVE_CONFIG=



##Verifier config
SCHEMA_TYPE = Giga
SCHEMA_CONTEXT_URL = ipfs://QmYpBx8CwGxsW9BALW5LFavXowv9W27G5ZegrCSHHu69Lm
RESOLVER_URL = https://rpc-mainnet.privado.id
RESOLVER_ADDRESS = 0x3C9acB2205Aa72A05F6D77d708b5Cf85FCa3a896
RESOLVER_NETWORK= privado:main
AUDIENCE_DID = did:polygonid:polygon:main:2q4Q7F7tM1xpwUTgWivb6TgKX3vWirsE3mqymuYjVv
VERIFIER_CREDENTIALS= country


##Issuer Config
ISSUER_USERNAME=
ISSUER_PASSWORD=
DID_ISSUER_URL=
NEXT_PUBLIC_ISSUER_UI=


##Giga Maps
UNI_OOI_GIGA = https://uni-ooi-giga-backend-hjekcuagasashucv.a03.azurefd.net/api/locations/gsearch
NEXT_PUBLIC_GIGA_MAPS_API = https://maps.giga.global/map

NEXT_PUBLIC_MAPBOX_TOKEN