<html>
  <body style='font-family:Poppins,Helvetica,Arial,sans-serif;'>
    <div style='width: 100%; margin-top: 20px;'>
      <div
        style='width: 80%; max-width: 500px ; margin: auto; border: 1px solid rgb(214, 214, 214); border-radius: 5px; padding: 30px; gap: 25px;'
      >
        <div style='text-align: center;'>
          <p style='font-size: 20px; font-weight: 600; width: 70%; margin: auto'>Verify your email
            address with OTP
          </p>
        </div>
        <div style='border-top: 1px solid rgb(226, 226, 226); padding-top: 20px; margin-top: 30px'>
          <span
            style='color: rgb(93, 93, 93); font-size: 14px; text-align: center; width: 80%, margin: auto'
          >Thank you for joining Giga Giga Blocks! To verify your email and ensure the security of your
            account, please use the OTP (One-Time Password) provided below:</span>

          <div style='width: 100%; text-align: center; margin-top: 20px;'>
            <script>
              function copyOTP(){ navigator.clipboard.writeText (otp) }
            </script>

            <div
              style='border: none;display:inline-block; border-radius: 45px; background-color:  #00a9eb; color: white; padding: 15px 30px;font-size: 16px; font-weight: 600; letter-spacing: 2px;'
              onclick='copyOTP()'
            > {{otp}}</div>
          </div>

          <p style='font-size: 14px; color: gray; margin-top: 25px; text-align: center;'>
            Please enter this OTP within the next 3 minutes to complete your registration process
            and gain access to Giga Blocks's features for contributing to school data.
            <br />
            If you haven’t requested this OTP or have any concerns, please contact our support team
            immediately.

            <br />
            Thank you for being a part of Giga Blocks!
          </p>

          <p style='font-size: 12px; color: gray;  text-align: center;margin-top: 25px;'>
            <span style='font-weight: 600;'>Best regards,</span>
            <br />
            <span style='font-weight: 600;'>Giga Blocks</span>
          </p>
        </div>
      </div>
      <table border='0' cellpadding='0' cellspacing='0' width='100%' class='footer'>
        <tbody>
          <tr>
            <td style='padding: 0px 10px 20px;' align='center' valign='top' class='footerLinks'>
              <p
                class='text'
                style="color:#bbb;font-family:'Open Sans',Helvetica,Arial,sans-serif;font-size:12px;font-weight:400;font-style:normal;letter-spacing:normal;line-height:20px;text-transform:none;text-align:center;padding:0;margin:0"
              >
                <a href='#' style='color:#bbb;text-decoration:underline' target='_blank'>View Web
                  Version
                </a>&nbsp;|&nbsp;
                <a href='#' style='color:#bbb;text-decoration:underline' target='_blank'>Email
                  Preferences
                </a>&nbsp;|&nbsp;
                <a href='#' style='color:#bbb;text-decoration:underline' target='_blank'>Privacy
                  Policy</a>
              </p>
            </td>
          </tr>
          <tr>
            <td style='padding: 0px 10px 10px;' align='center' valign='top' class='footerEmailInfo'>
              <p
                class='text'
                style="color:#bbb;font-family:'Open Sans',Helvetica,Arial,sans-serif;font-size:12px;font-weight:400;font-style:normal;letter-spacing:normal;line-height:20px;text-transform:none;text-align:center;padding:0;margin:0"
              >
                If you have any questions please contact us
                <a
                  href='mailto:{{emailurl}}'
                  style='color:#bbb;text-decoration:underline'
                  target='_blank'
                >
                  {{emailurl}}</a>
                <br />

              </p>
            </td>
          </tr>
          <tr>
            <td style='font-size:1px;line-height:1px' height='30'>&nbsp;</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>