@use '@carbon/react/scss/colors';
@use '@carbon/react/scss/breakpoint' as *;

.cds--header__global .cds--popover-content {
  background-color: colors.$gray-20;
}

.cds--header__global .cds--popover-caret {
  background-color: colors.$gray-20;
}

@media (max-width: 320px) {
  .action-icons {
    display: none;
  }
}
.navbar {
  padding: 36px 60px;
  @include breakpoint-down(md) {
    padding: 0px;
  }
}

a.cds--header__menu-item:hover {
  background-color: transparent !important;
}

a.cds--header__menu-item:active {
  background-color: transparent !important;
}

a.cds--header__menu-item:focus {
  background-color: transparent !important;
  border-color: transparent !important;
}
