@use "@carbon/react/scss/colors";
@use "@carbon/react/scss/breakpoint" as *;

.cds--header__global .cds--popover-content {
  background-color: colors.$gray-20;
}

.cds--header__global .cds--popover-caret {
  background-color: colors.$gray-20;
}

@media (max-width: 320px) {
  .action-icons {
    display: none;
  }
}
.navbar {
  padding: 12px 20px;
  @include breakpoint-down(md) {
    padding: 0px;
  }
}
