@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/breakpoint' as *;

.form-gap {
  background: #222222;
  color: white;
  padding-top: $spacing-11;
  padding-bottom: $spacing-11;
  @include breakpoint-down(md) {
    padding-left: $spacing-01;
    padding-right: $spacing-01;
  }
}
.heading10 {
  font-size: 48px;
  @include breakpoint-down(md) {
    padding-top: $spacing-08;
    padding-bottom: $spacing-08;
  }
}
.heading-col {
  display: flex;
  flex-direction: column;
}

.form {
  @include breakpoint-down(md) {
    // padding-left: $spacing-05;
    padding-right: $spacing-05;
  }
  .cds--label {
    color: white;
  }
}
.submit-btn {
  height: 40px !important;
  background: #277aff;
  color: #ffff;
  border-radius: 55px;
  width: 364px;
}
.form-label {
  margin-bottom: 45x;
}
