.cds--header {
  border-block-end: 1px solid #383838 !important;
  -webkit-border-after: 1px solid #383838 !important;
}
.cds--header__menu-trigger > svg {
  fill: #fff;
}
a.cds--header__menu-item:hover {
  background: var(--cds-background-hover, rgba(141, 141, 141, 0.12)) !important;
  color: var(--cds-text-primary, #161616) !important;
  background: white;
}
