@use '@carbon/styles/scss/spacing' as *;
@use '@carbon/styles/scss/type' as *;
@use '@carbon/styles/scss/colors' as *;
@use '@carbon/styles/scss/theme' as *;
@use '@carbon/styles/scss/breakpoint' as *;

.dashboard-modal .cds--modal-close {
  display: none;
}

.dashboard-modal .dashboard-modal-activate-heading {
  font-weight: 600;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  padding-bottom: 1.2rem;
}

.dashboard-modal .cds--modal-content {
  padding: 2rem;
}

.dashboard-modal .dashboard-modal-activate-description {
  padding: 0.8rem;
  background-color: #dcd9d9;
  border-radius: 8px;
  display: flex;
  justify-content: center;

  span {
    color: #0f62fe;
    cursor: pointer;
  }
}

.cds--modal-container--sm .cds--modal-content > p {
  -webkit-padding-end: 3% !important;
  padding-inline-end: 3% !important;
}
