@use '@carbon/react';
@use '@carbon/react/scss/breakpoint' as *;

@use '../components/Navbar/navbar';

@use '../app/home/landing-page';

@use '../components/Info/info';

:root {
  --bg-color: #f3f3f3;
}

.dynamic-theme {
  color: var(--font-color);
  background-color: var(--bg-color);
}

@media (min-width: 42rem) {
  .cds--grid--no-gutter {
    padding-left: -1rem;
    padding-right: -1rem;
  }
}
body {
  font-family: 'IBM Plex Sans', sans-serif;
  --bg-color: #f3f3f3;
}
.cds--content {
  margin-top: 3rem;
  padding: 0;
}
.cds--modal-container {
  border-radius: 12px !important;
}
