//header
.dashboard-head-wrapper {
    margin-top: 48px;
    background: #ececec;
    height: 35vh;
    display: flex;
    align-items: center;

    .column {
        display: flex;
        justify-content: space-between;

        .sub-column-1 {
            display: flex;
            flex-direction: column;
            gap: 15px;

            .head {
                color: #277aff;
            }

            .foot {
                color: #9e9e9e;
            }
        }

        .sub-column-2 {
            display: flex;
            gap: 5px;

            h1 {
                font-weight: normal;
            }

            div {
                display: flex;
                align-items: flex-end;

                p {
                    font-size: 14px;
                    padding-bottom: 5px;
                }
            }
        }
    }
}

//tabs
.tabs-wrapper {
    margin-bottom: 50px;
}

.tabs {
    display: flex;
    justify-content: center;
}


//Pagination CSS Altered
.cds--pagination__text.cds--pagination__items-count {
    color: white !important;
}

.cds--pagination__text {
    color: white !important;
}

.cds--select--inline .cds--select-input {
    color: white !important;

    &:hover {
        color: black !important;
    }

    &:focus {
        color: black !important;
    }
}

.cds--select-input__wrapper {
    svg {
        fill: white !important;
    }

    &:hover {
        svg {
            fill: black !important;
        }
    }

    &:focus-within {
        svg {
            fill: black !important;
        }
    }
}

.cds--btn--ghost:not([disabled]) svg {
    fill: white !important;
}

.cds--popover--top-right {
    &:hover {
        .cds--btn--ghost:not([disabled]) svg {
            fill: black !important;
        }
    }
}

.cds--popover--top {
    &:hover {
        .cds--btn--ghost:not([disabled]) svg {
            fill: black !important;
        }
    }
}