@use '@carbon/react/scss/breakpoint' as *;
@use '@carbon/react/scss/spacing' as *;

.preview1Background {
  width: 100vw;
  height: 100vh;
  background-image: url('/landingPage/signInBg.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
.signUp-grid {
  display: flex;
  align-items: center;
  justify-content: center;
}
.signUp-tile {
  h1 {
    padding-bottom: $spacing-08;
    color: #000;
    @include breakpoint-down(md) {
      font-size: 38px;
    }
  }
  width: 60vw;
  @include breakpoint-down(md) {
    width: 100vw;
  }
  margin: 15px 15px;
  .checkbox {
    margin-top: $spacing-05;
  }
}
.link {
  text-decoration: none;
  color: purple;
}

.submit-btn {
  margin-right: 14px;
  width: 100%;
  color: #fff;
  background: #0f62fe;
  border: 1px solid #0f62fe;
  @include breakpoint-down(md) {
    width: 100vw;
  }
}

.submit-btn-transparent {
  margin-right: 14px;
  margin-left: 14px;
  width: 100%;
  background: transparent;
  color: #0f62fe;
  border: 1px solid #0f62fe;
  @include breakpoint-down(md) {
    margin-left: 0px;
    margin-top: 12px;

    width: 100vw;
  }
}
